# Local .terraform directories
**/.terraform/*

# Ignore variables files
*.auto.tfvars
# *.tfvars # Uncomment if you don't commit all .tfvars files
# *.tfvars.json # Uncomment if you use JSON-formatted variable files

# Ignore override files
*.tfoverride

# Ignore Terraform state files
*.tfstate
*.tfstate.*

# Ignore Terraform plan files
*.tfplan

# Ignore crash log files
crash.log
crash.*.log

# Ignore sensitive files
*.pem
*.key
*.pub

# Ignore CLI configuration files
.terraformrc
terraform.rc